body{
    border-right: 20%;
    margin: 20px;
    box-sizing: border-box;
    border: 2px solid;
    width: 700px;
    height: 1250px;
}
header{
    margin-top: -31px;
    margin-left: -2px;
    padding-left: 6%;
    padding-right: 20%;
    background-color:#2f2f2f;
    color: #f0ffff;
}
     

#pg{
    text-indent: 3px;
    padding-left: 6%;
    margin-right:3% ;
    margin-top: 5%;
    font-size: 20px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: bolder;
}
ul{
    letter-spacing: px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:19px;
    font-weight: bolder;
    padding-left: 6%;
    padding-right: 20%;
    margin-right: 25%;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 3.5%;
    color:#2f2f2f;
}
h3,h5,h6{
    padding-bottom: -20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 3.5%;
    color: #2f2f2f;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: bolder;
    padding-left: 6%;
    color:#2f2f2f;
}